### Preliminaries

In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
import nltk
import matplotlib.pyplot as plt
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from collections import Counter
from nltk.stem.porter import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from wordcloud import WordCloud

In [2]:
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download("averaged_perceptron_tagger")
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\packardbelll\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\packardbelll\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\packardbelll\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\packardbelll\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\packardbelll\AppData\Roaming\nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\packardbelll\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [3]:
f  = open("data.txt", "r")
text = f.read()

In [4]:
text[:1000]

"The Project Gutenberg EBook of Man to Man, by Jackson Gregory\n\nThis eBook is for the use of anyone anywhere at no cost and with\nalmost no restrictions whatsoever.  You may copy it, give it away or\nre-use it under the terms of the Project Gutenberg License included\nwith this eBook or online at www.gutenberg.org\n\n\nTitle: Man to Man\n\nAuthor: Jackson Gregory\n\nRelease Date: July 29, 2006 [EBook #18933]\n\nLanguage: English\n\n\n*** START OF THIS PROJECT GUTENBERG EBOOK MAN TO MAN ***\n\n\n\n\nProduced by Al Haines\n\n\n\n\n\n\n\n\n\n\n[Frontispiece: The blazing heat was such that men and horses and steers\nsuffered terribly.]\n\n\n\n\n\n\nMAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nAUTHOR OF\n\nJUDITH OF BLUE LAKE RANCH, THE BELLS OF SAN JUAN, SIX FEET FOUR, ETC.\n\n\n\n\nILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGROSSET & DUNLAP\n\nPUBLISHERS -------- NEW YORK\n\n\n\n\nCOPYRIGHT, 1920, BY\n\nCHARLES SCRIBNER'S SONS\n\n\nPublished October, 1920\n\n\n\n\nCONTENTS\n\n\nCHAPTER\n\n     I. STEVE DIVES INTO DEEP WATERS\n    II. MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n "

In [5]:
a = text.split()
len(a)

78078

In [6]:
b = text.split("\n")
len(b)

9770

In [7]:
sent_tokens = sent_tokenize(text)

In [8]:
sent_tokens[:3]

['The Project Gutenberg EBook of Man to Man, by Jackson Gregory\n\nThis eBook is for the use of anyone anywhere at no cost and with\nalmost no restrictions whatsoever.',
 'You may copy it, give it away or\nre-use it under the terms of the Project Gutenberg License included\nwith this eBook or online at www.gutenberg.org\n\n\nTitle: Man to Man\n\nAuthor: Jackson Gregory\n\nRelease Date: July 29, 2006 [EBook #18933]\n\nLanguage: English\n\n\n*** START OF THIS PROJECT GUTENBERG EBOOK MAN TO MAN ***\n\n\n\n\nProduced by Al Haines\n\n\n\n\n\n\n\n\n\n\n[Frontispiece: The blazing heat was such that men and horses and steers\nsuffered terribly.]',
 'MAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nAUTHOR OF\n\nJUDITH OF BLUE LAKE RANCH, THE BELLS OF SAN JUAN, SIX FEET FOUR, ETC.']

In [9]:
len(sent_tokens)

5560

In [37]:
df = pd.DataFrame({"sentences" : sent_tokens})  #each sentence will be
                                                #a row in our dataframe

In [38]:
df.head()

                                           sentences
0  The Project Gutenberg EBook of Man to Man, by ...
1  You may copy it, give it away or\nre-use it un...
2  MAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nA...
3  ILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGR...
4     MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n   III.

In [39]:
df.shape

(5560, 1)

In [40]:
stop_words = stopwords.words('english')
lem = WordNetLemmatizer()

**Defining a function for all steps**

In [41]:
def cleaning(data):
    #1. Tokenize
    text_tokens = word_tokenize(data)
    
    #2 . Remove Punctuations,numbers and chars
    tokens_without_punc = [w for w in text_tokens if w.isalpha()]
    
    #3. Remove Stopwords
    tokens_without_sw = [word for word in tokens_without_punc if word not in stop_words]
    
    #4. Lemmatization
    text_cleaned = [lem.lemmatize(word) for word in tokens_without_sw]
    
    #5. Joining
    return " ".join(text_cleaned) #sometimes we can also use in tokenized form

In [42]:
df["sentences_2"] = df["sentences"].apply(cleaning)

In [43]:
df.head()

,sentences,sentences_2
0,"The Project Gutenberg EBook of Man to Man, by ...",The Project Gutenberg EBook Man Man Jackson Gr...
1,"You may copy it, give it away or\nre-use it un...",You may copy give away term Project Gutenberg ...
2,MAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nA...,MAN TO MAN BY JACKSON GREGORY AUTHOR OF JUDITH...
3,ILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGR...,ILLUSTRATED BY SHEPHERD GROSSET DUNLAP PUBLISH...
4,MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n III.,MISS BLUE CLOAK KNOWS WHEN SHE BEAT III

In [44]:
df.sentences[1]

'You may copy it, give it away or\nre-use it under the terms of the Project Gutenberg License included\nwith this eBook or online at www.gutenberg.org\n\n\nTitle: Man to Man\n\nAuthor: Jackson Gregory\n\nRelease Date: July 29, 2006 [EBook #18933]\n\nLanguage: English\n\n\n*** START OF THIS PROJECT GUTENBERG EBOOK MAN TO MAN ***\n\n\n\n\nProduced by Al Haines\n\n\n\n\n\n\n\n\n\n\n[Frontispiece: The blazing heat was such that men and horses and steers\nsuffered terribly.]'

In [45]:
df.sentences_2[1]

'You may copy give away term Project Gutenberg License included eBook online Title Man Man Author Jackson Gregory Release Date July EBook Language English START OF THIS PROJECT GUTENBERG EBOOK MAN TO MAN Produced Al Haines Frontispiece The blazing heat men horse steer suffered terribly'

**Part of Speech Tagging(PoST)**

In [46]:
df["sentences_3"] = df["sentences_2"].apply(lambda x: x.split())

In [47]:
df.head()

,sentences,sentences_2,sentences_3
0,"The Project Gutenberg EBook of Man to Man, by ...",The Project Gutenberg EBook Man Man Jackson Gr...,"[The, Project, Gutenberg, EBook, Man, Man, Jac..."
1,"You may copy it, give it away or\nre-use it un...",You may copy give away term Project Gutenberg ...,"[You, may, copy, give, away, term, Project, Gu..."
2,MAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nA...,MAN TO MAN BY JACKSON GREGORY AUTHOR OF JUDITH...,"[MAN, TO, MAN, BY, JACKSON, GREGORY, AUTHOR, O..."
3,ILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGR...,ILLUSTRATED BY SHEPHERD GROSSET DUNLAP PUBLISH...,"[ILLUSTRATED, BY, SHEPHERD, GROSSET, DUNLAP, P..."
4,MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n III.,MISS BLUE CLOAK KNOWS WHEN SHE BEAT III,"[MISS, BLUE, CLOAK, KNOWS, WHEN, SHE, BEAT, III]"

In [48]:
df["sentences_4"] = df["sentences_3"].apply(lambda x: nltk.pos_tag(x))

In [49]:
df.head()

,sentences,sentences_2,sentences_3,sentences_4
0,"The Project Gutenberg EBook of Man to Man, by ...",The Project Gutenberg EBook Man Man Jackson Gr...,"[The, Project, Gutenberg, EBook, Man, Man, Jac...","[(The, DT), (Project, NNP), (Gutenberg, NNP), ..."
1,"You may copy it, give it away or\nre-use it un...",You may copy give away term Project Gutenberg ...,"[You, may, copy, give, away, term, Project, Gu...","[(You, PRP), (may, MD), (copy, VB), (give, VB)..."
2,MAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nA...,MAN TO MAN BY JACKSON GREGORY AUTHOR OF JUDITH...,"[MAN, TO, MAN, BY, JACKSON, GREGORY, AUTHOR, O...","[(MAN, NN), (TO, NNP), (MAN, NNP), (BY, NNP), ..."
3,ILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGR...,ILLUSTRATED BY SHEPHERD GROSSET DUNLAP PUBLISH...,"[ILLUSTRATED, BY, SHEPHERD, GROSSET, DUNLAP, P...","[(ILLUSTRATED, VBN), (BY, NNP), (SHEPHERD, NNP..."
4,MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n III.,MISS BLUE CLOAK KNOWS WHEN SHE BEAT III,"[MISS, BLUE, CLOAK, KNOWS, WHEN, SHE, BEAT, III]","[(MISS, NNP), (BLUE, NNP), (CLOAK, NNP), (KNOW..."

**Vectorization**

**Count Vectorization**

In [ ]:
#Apply to series not to df itself

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [51]:
X_train = df["sentences_2"]

In [53]:
vectorizer = CountVectorizer()

In [54]:
vectorizer.fit(X_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [57]:
# Get feature names
feature_names = vectorizer.get_feature_names()

In [58]:
len(feature_names)

6130

In [59]:
X_train_count = vectorizer.transform(X_train)

In [63]:
a = pd.DataFrame(X_train_count.toarray(), columns=feature_names)

In [64]:
a.head()

,aback,abandoned,abide,abiding,ability,able,aboard,about,abreast,abrupt,...,york,you,young,youngest,your,yours,yourse,youth,youthful,zest
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [65]:
a.shape

(5560, 6130)

**TFIDF**

In [66]:
tf_idf = TfidfVectorizer()

In [68]:
tf_idf.fit(X_train)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words=None, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [69]:
X_train_tf_idf = tf_idf.transform(X_train)

In [70]:
b = pd.DataFrame(X_train_tf_idf.toarray(), columns=feature_names)

In [71]:
b.head()

,aback,abandoned,abide,abiding,ability,able,aboard,about,abreast,abrupt,...,york,you,young,youngest,your,yours,yourse,youth,youthful,zest
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.081525,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.214756,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [73]:
a.sum().sort_values(ascending = False)

steve        542
packard      541
blenham      524
man          445
terry        409
            ...
richly         1
formulate      1
forming        1
former         1
duster         1
Length: 6130, dtype: int64

In [74]:
b.sum().sort_values(ascending = False)

blenham       121.693580
steve         119.792142
packard       114.215786
terry         102.879166
said           91.987103
                 ...
alteration      0.140733
indirectly      0.140733
indemnity       0.140733
indemnify       0.140733
deletion        0.140733
Length: 6130, dtype: float64